@model List<PostVM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="bg-dark text-light p-4">
    Gönderiler
    @if (User.Identity.IsAuthenticated)
    {
        <a class="btn btn-outline-warning float-end" asp-controller="Posts" asp-action="NewPost">Yeni Gönderi</a>
    }
</h3>
@if (ViewData["GetPostMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewData["GetPostMessage"]
    </div>
}
<form method="get" action="/Posts/Index">
    <select class="form-control" name="selectedHairdresser">
        <option value="0">Lütfen bir kuaför seçin</option>
        @foreach (var hairdresser in ViewBag.Hairdressers)
        {
            <option value="@hairdresser.Value">@hairdresser.Text</option>
        }
    </select>
    <button type="submit" class="btn btn-info d-block">Ara</button>
</form>
@if(Model != null && Model.Any()){
    foreach (var post in Model)
    {
        <div class="post-card">
            <div class="postcard">
                <span class="title text-light"><b>@post.NameSurname</b></span>
                <span class="subtitle text-light"><b>@post.HairdresserName</b></span>
                <span class="date text-light"><b>@post.CurrentTime.ToShortDateString() - @post.CurrentTime.ToShortTimeString()</b></span>
                <div class="photo mt-2">
                    <img src="@post.ImageUrl" alt="post_image-@post.HairdresserName-@post.NameSurname" />
                </div>
                <span class="detail py-2 text-light d-block">@post.Detail</span>
            </div>
        </div>
    }
}else{
    <span>Henüz bir gönderi paylaşılmamış.</span>
}

