@model List<HairdressersModel>
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@foreach(var hairdresser in Model){
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">@hairdresser.Hairdresser.Name</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">@hairdresser.Hairdresser.Field</h6>
            <p class="card-text">@hairdresser.Hairdresser.OpenTime.ToString(@"hh\:mm") - @hairdresser.Hairdresser.CloseTime.ToString(@"hh\:mm")</p>
            <p class="card-text">
                @foreach (var service in hairdresser.Services)
                {
                    <i class="px-1">@service.Name</i>
                }
            </p>

            <a asp-controller="Hairdresser" asp-action="Index" asp-route-hairdresserId="@hairdresser.Hairdresser.Id" class="card-link">RandevuAl</a>
        </div>
    </div>
}
