@model List<HairdresserVM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Panel/Views/Shared/_Layout.cshtml";
}


<h5>Kuaför İşlemleri > <strong class="text-decoration-underline">Kuaförler</strong></h5>
<span class="page-title-line"></span>
<div class="panel-card">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    İsim
                </th>
                <th>
                    Telefon
                </th>
                <th>
                    Adres
                </th>
                <th>
                    Çalışma Saati
                </th>
                <th>
                    Alan
                </th>
                <th>
                    Yönetici
                </th>
                <th>
                    İşlemler
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var hairdresser in Model)
            {
                <tr>
                    <td>
                        @hairdresser.Name
                    </td>
                    <td>
                        @hairdresser.PhoneNumber
                    </td>
                    <td>
                        @hairdresser.Address
                    </td>
                    <td>
                        <span class="d-block"><b>Açılış : </b>@hairdresser.OpenTime</span>
                        <span class="d-block"><b>Kapanış : </b>@hairdresser.CloseTime</span>
                    </td>
                    <td>
                        @hairdresser.Field
                    </td>
                    <td>
                        @hairdresser.ManagerName
                    </td>
                    <td>
                        <a asp-area="Panel" asp-controller="Hairdressers" asp-action="UpdateHairdresser" asp-route-hairdresserId="@hairdresser.Id" class="btn purple-soft">
                            Düzenle
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>