@model List<ReservationsForModVM>
@{
    ViewData["Title"] = "Reservations";
    Layout = "~/Areas/Panel/Views/Shared/_Layout.cshtml";
}

<h5>Kuaför Yönetimi > <strong class="text-decoration-underline">Randevular</strong></h5>
<span class="page-title-line"></span>
<div class="panel-card">
    <ul class="list-unstyled d-flex">
        <li class="d-inline-block w-25">
            <a class="btn purple-soft" asp-area="Panel" asp-controller="Management" asp-action="Reservations" asp-route-status="null">Tümü</a>
        </li>
        <li class="d-inline-block w-25">
            <a class="btn purple-soft" asp-area="Panel" asp-controller="Management" asp-action="Reservations" asp-route-status="1">Onaylananlar</a>
        </li>
        <li class="d-inline-block w-25">
            <a class="btn purple-soft" asp-area="Panel" asp-controller="Management" asp-action="Reservations" asp-route-status="2">Reddedilenler</a>
        </li>
        <li class="d-inline-block w-25">
            <a class="btn purple-soft" asp-area="Panel" asp-controller="Management" asp-action="Reservations" asp-route-status="3">Yeni</a>
        </li>
    </ul>
</div>
<div class="d-flex">
    @foreach (var reservation in Model)
    {
        <div class="panel-card w-50">
            <div class="row py-1">
                <span class="col"><strong>Çalışan : </strong></span>
                <span class="col">@reservation.EmployeeNameSurname</span>
            </div>
            <div class="row py-1">
                <span class="col"><strong>Müşteri : </strong></span>
                <span class="col">@reservation.UserNameSurname  <br />  @reservation.PhoneNumber</span>
            </div>
            <div class="row py-1">
                <span class="col"><strong>İşlemler : </strong> </span>
                <span class="col">@reservation.Services</span>
            </div>
            <div class="row py-1">
                <span class="col"><strong>Ücret : </strong> </span>
                <span class="col">@reservation.Money ₺</span>
            </div>
            <div class="row py-1">
                <span class="col"><strong>Randevu Tarihi : </strong></span>
                <span class="col"> @reservation.Date.ToShortDateString()  <br />  @reservation.StartTime  -  @reservation.EndTime</span>
            </div>
            <div class="row py-1">
                <span class="col"><strong>Durum : </strong></span>
                <span class="col">
                    @if (reservation.IsStatus == null)
                    {
                        <i>Yeni</i>
                        <a asp-area="Panel" asp-controller="Management" asp-action="AcceptReservation" asp-route-reservationId="@reservation.Id" class="btn btn-outline-success m-1 w-100">Onayla</a>
                        <button class="btn btn-outline-danger m-1 cancelBtn w-100" data-bs-toggle="modal" data-bs-target="#reasonBackdrop" data-reservationId="@reservation.Id">
                            Reddet
                        </button>
                    }
                    else if (reservation.IsStatus == true)
                    {
                        <i>Onaylandı</i>
                    }
                    else if (reservation.IsStatus == false)
                    {
                        <i>Reddedildi</i> <b class="px-2">@reservation.Reason</b>
                    }
                </span>

            </div>
        </div>
    }
</div>
<!-- Modal -->
<div class="modal fade" id="reasonBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Randevu Red Sebebi</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" id="reasonInput" />
                <input type="hidden" class="form-control" id="reservationIdInput" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                <button id="approveCancelBtn" type="button" class="btn btn-primary">Reddet</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function() {
            $('.cancelBtn').on('click', function() {
              
                var reservationId = $(this).data('reservationid');

                
                $('#reservationIdInput').val(reservationId);
            });

            function setEventListeners() {
                $('#approveCancelBtn').on('click', function () {
                    var reason = document.getElementById("reasonInput").value;
                    var reservationId = document.getElementById("reservationIdInput").value;
                    if (reason.trim() === '') {
                        alert('İptal sebebini belirtiniz!');
                        return; 
                    }
                    let declineModel = {
                        Reason:reason,
                        ReservationId:reservationId
                    }
                        $.ajax({
                            url: "/Panel/Management/CancelReservation/",
                            type: "POST",
                            data: JSON.stringify(declineModel),
                            contentType: "application/json; charset=utf-8",
                            success: function (response) {
                                alert(response.saveText);
                                window.location.reload(1);
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                console.error("AJAX Error:", textStatus, errorThrown);
                                alert("İşleminiz gerçekleşmedi: " + jqXHR.responseText);
                            }
                        });

                });
            }
            setEventListeners();

        });

    </script>
}